@import "tailwindcss";

@font-face {
  font-family: "Mulish";
  src: url("/font/Mulish-VariableFont_wght.ttf");
}

@theme {
  
  --font-mulish: "Mulish";

  --color-beige-300: #DACDC9;
  --color-beige-50: #EDE9E2;
  --color-gray: #D9D9D9;
  --color-black-300: #1E1411;
}

.horizantal-scrollbar {
  &::-webkit-scrollbar {
    @apply h-1;
  }

  &::-webkit-scrollbar-track {
    @apply bg-neutral-400 rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-neutral-600 rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-800;
  }
}